$mblue : #5597d1;
$sblue : #2f60cc;
$lgray : #f5f5f5;

$black: #242529;
$dark-black: #1c1c1e;
$black_gra: linear-gradient(center, #ffffff 0%, #0099cc 100%);
$dark-grey: #6e6e6e;
$green: #f1cc52;  // acca41
$light-grey: #ededed;
$red: #bd2b1b;

