@charset "UTF-8";
@font-face {
  font-family: 'SCDream';
  src: url(../fonts/SCDream1.eot);
  src: local("※"), url(../fonts/SCDream1.woff2) format("woff2"), url(../fonts/SCDream1.woff) format("woff"), url(../fonts/SCDream1.otf) format("opentype");
  font-weight: 100; }
@font-face {
  font-family: 'SCDream';
  src: url(../fonts/SCDream2.eot);
  src: local("※"), url(../fonts/SCDream2.woff2) format("woff2"), url(../fonts/SCDream2.woff) format("woff"), url(../fonts/SCDream2.otf) format("opentype");
  font-weight: 200; }
@font-face {
  font-family: 'SCDream';
  src: url(../fonts/SCDream3.eot);
  src: local("※"), url(../fonts/SCDream3.woff2) format("woff2"), url(../fonts/SCDream3.woff) format("woff"), url(../fonts/SCDream3.otf) format("opentype");
  font-weight: 300; }
@font-face {
  font-family: Audrey;
  font-weight: 400;
  src: local("※"), url("../font/Audrey-Normal.otf") format("opentype"); }
@font-face {
  font-family: Audrey;
  font-weight: 600;
  src: local("※"), url("../font/Audrey-Medium.otf") format("opentype"); }
/* tag reset */
body, h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top;
  border: none;
  max-width: 100%; }

address {
  font-style: normal; }

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

header, nav, section, footer {
  display: block; }

/* common class */
.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.sr-only {
  position: absolute;
  top: 0;
  left: -9999px; }

.area {
  width: 1200px;
  margin: 0 auto; }

/* skip nav */
#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1000; }

#skip a:focus {
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #5597d1;
  color: #fff;
  font-weight: 700; }

body {
  font-family: "Century Gothic", CenturyGothic, SCDream, Audrey;
  font-size: 16px;
  color: #333;
  line-height: 1;
  letter-spacing: -0.025em;
  word-break: keep-all; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 
z-index
pc          로고, 언어(950) > gnb
mobile      전체메뉴(990) > gnb(970) > #dim(960) >로고, 언어

pc => mobile 에서 제거할 경우
float: left => float: none;
position: fixed => position: static
width: 100px  => width: auto
left: 50px => left: auto
margin: 50px => margin: 0px
transition: transform 0.5s => transition: none
*/
/* device common */
#header {
  -webkit-transition: height 0.2s, background-color 0.2s;
  -moz-transition: height 0.2s, background-color 0.2s;
  -o-transition: height 0.2s, background-color 0.2s;
  transition: height 0.2s, background-color 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 125px;
  z-index: 900;
  color: #ffffff;
  overflow: hidden; }
  #header.active, #header.scroll {
    background: #000000; }
  #header.active {
    height: 200; }
  #header.scroll {
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); }
  #header .wide {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    max-width: 1760px;
    margin: 0 auto; }
    #header .wide:before {
      content: "";
      top: 124px;
      left: 0;
      right: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  #header .logo, #header .btn_all, #header #gnb, #header .wide:before {
    position: absolute; }
  #header .logo {
    z-index: 950; }
  #header .logo {
    top: 45px;
    left: 0; }
    #header .logo a {
      display: block;
      width: 201px;
      height: 40px;
      background: url("../images/layout/logoWhite.png") no-repeat left center;
      text-indent: -9999px; }
  #header .btn_all, #header #dim {
    display: none; }

#gnb {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  /* 모바일 에서는 제거 */
  top: 0;
  left: 0;
  right: 0;
  text-align: center; }
  #gnb > ul {
    display: inline-block; }
    #gnb > ul > li {
      float: left; }
      #gnb > ul > li > a {
        position: relative;
        height: 125px;
        line-height: 125px;
        font-size: 1.125rem;
        padding: 0 45px; }
      #gnb > ul > li.on > a {
        color: #5597d1; }
      #gnb > ul > li > a:before {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #5597d1; }
      #gnb > ul > li.on > a:before {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
    #gnb > ul a {
      display: block;
      letter-spacing: 0.01em; }

/* 큰 PC txt */
.top_visual {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  position: relative;
  background: #03090a no-repeat center;
  height: auto;
  /* 비디오 */ }
  .top_visual .video {
    width: 100%;
    height: auto; }
  .top_visual .txt {
    overflow: hidden;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff; }
    .top_visual .txt h2 {
      font-size: 3rem;
      font-weight: 400;
      width: 100%;
      letter-spacing: 0.3rem;
      padding-bottom: 400px;
      overflow: hidden;
      background: linear-gradient(90deg, #000, #e4e4e4, #000);
      background-repeat: no-repeat;
      animation: animate 3s linear;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0); }
    .top_visual .txt .Underline {
      width: 200px;
      position: absolute;
      top: 18%;
      left: 45%; }
      .top_visual .txt .Underline p {
        width: 0px;
        height: 1px;
        position: absolute;
        background: #990202;
        animation: Underline1 forwards 2s cubic-bezier(0.22, 0.61, 0.36, 1) 2s; }
      .top_visual .txt .Underline .left {
        right: 100px; }
      .top_visual .txt .Underline .right {
        left: 100px; }

/* Bongacious Creative 글씨 애니메이션 */
.top_visual .txt .ani_txt {
  max-width: 1920px;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 30px;
  transform: scale(1.2); }
.top_visual .txt .ani_txt.zoom {
  transform: scale(1);
  transition: 10s ease-out; }
.top_visual .txt .ani_txt .underlay {
  position: absolute;
  width: 70%;
  height: 0px;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2), 0 0 5px 3px rgba(255, 255, 255, 0.2) inset;
  left: 50%;
  transform: translate3d(-50%, 17px, 0);
  opacity: 0;
  transition: 0.2s linear;
  border-radius: 50%; }
.top_visual .txt .ani_txt .underlay.show {
  width: 20%;
  opacity: 1;
  height: 14px;
  transform: translate3d(-50%, 10px, 0);
  transition: 0s linear; }
.top_visual .txt .ani_txt > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block; }
.top_visual .txt .ani_txt > span span {
  display: inline-block;
  background: #fff;
  margin-right: -38px;
  padding: 0 20px 0 35px;
  transition: 0.1s linear;
  box-shadow: 0px 0px 0vw 0vw rgba(80, 90, 255, 0);
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5); }
.top_visual .txt .ani_txt > span.initial span {
  opacity: 0; }
.top_visual .txt .ani_txt > span.initial.transInStart span:nth-child(2),
.top_visual .txt .ani_txt > span.initial.transInStart span:nth-child(3) {
  opacity: 1;
  box-shadow: 0px 0px 15vw 15vw rgba(80, 90, 255, 0.2);
  transition: 0s linear; }
.top_visual .txt .ani_txt > span.initial.transInMid span {
  opacity: 1;
  transition: 0s linear;
  box-shadow: 0px 0px 15vw 15vw rgba(80, 90, 255, 0.2); }
.top_visual .txt .ani_txt > span.initial.transInMid span:nth-child(1) {
  transition-delay: 0.125s; }
.top_visual .txt .ani_txt > span.initial.transInMid span:nth-child(2) {
  transition-delay: 0.075s; }
.top_visual .txt .ani_txt > span.initial.transInMid span:nth-child(3) {
  transition-delay: 0s; }
.top_visual .txt .ani_txt > span.initial.transInFin span {
  opacity: 1;
  background: rgba(255, 255, 255, 0);
  transition: 0.05s linear; }
.top_visual .txt .ani_txt > span.initial.transInFin span:nth-child(1) {
  transition-delay: 0.2s; }
.top_visual .txt .ani_txt > span.initial.transInFin span:nth-child(2) {
  transition-delay: 0.1s; }
.top_visual .txt .ani_txt > span.initial.transInFin span:nth-child(3) {
  transition-delay: 0s; }
.top_visual .txt .ani_txt > span.initial.transOutStart span:nth-child(1) {
  opacity: 0;
  transition: 0s linear; }
.top_visual .txt .ani_txt > span.initial.transOutFin span:nth-child(1),
.top_visual .txt .ani_txt > span.initial.transOutFin span:nth-child(2) {
  opacity: 0;
  transition: 0s linear; }
.top_visual .txt .ani_txt > span.final span {
  opacity: 0; }
.top_visual .txt .ani_txt > span.final span.show {
  box-shadow: 0px 0px 0vw 0vw !important;
  background: transparent !important;
  opacity: 1 !important; }
.top_visual .txt .ani_txt > span.final span.show:nth-child(2) {
  padding: 0 35px 0 20px; }
.top_visual .txt .ani_txt > span.final.transInStart span {
  opacity: 1;
  box-shadow: 0px 0px 15vw 15vw rgba(80, 90, 255, 0.2);
  transition: 0s linear; }
.top_visual .txt .ani_txt > span.final.transInStepOne span:nth-child(1),
.top_visual .txt .ani_txt > span.final.transInStepOne span:nth-child(2) {
  opacity: 1;
  box-shadow: 0px 0px 15vw 15vw rgba(80, 90, 255, 0.2);
  transition: 0s linear; }
.top_visual .txt .ani_txt > span.final.transInStepTwo span {
  opacity: 0;
  box-shadow: 0px 0px 0vw 0vw;
  background: transparent;
  transition: 0s linear; }
.top_visual .txt .ani_txt > span.final.transInStepTwo span:nth-child(1) {
  transition-delay: 0.075s; }
.top_visual .txt .ani_txt > span.final.transInStepTwo span:nth-child(2) {
  transition-delay: 0s; }
.top_visual .txt .ani_txt > span.final.transInStepTwo span:nth-child(1) {
  opacity: 1; }
.top_visual .txt .ani_txt > span.final.transInStepThree span:nth-child(2) {
  opacity: 1;
  box-shadow: 0px 0px 15vw 15vw rgba(80, 90, 255, 0.2);
  transition: 0s linear; }

/* section 태그 */
#content {
  width: 100%;
  height: auto;
  background: #03090a;
   /*  .circle_ani {
      /* overflow: hidden; 
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width:400px;height: 400px;

      svg {
        height: 400px;
        width: 400px;
        border: 1px solid rgb(255, 255, 255);

        &:nth-child(1){
      
        }
        &:nth-child(2){
          transform: scaleX(-1); /* point 
          position: absolute;top: 0;left: 0;
        }
        circle {
          fill: none;
          stroke: #ffffff;
          stroke-width: 2px;
          stroke-dasharray: 490;
          stroke-dashoffset: 490;
          animation: load 1s linear alternate forwards;
        }
        .outer {
          animation-delay: 0s;
        }
        .outer2 {
          animation-delay: 1s;
        }
      }
    } */ }
  #content .circle_ani h2 {
    position: absolute;
    width: 100%;
    top: 140px;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
    letter-spacing: 0.05rem; }
  #content .circle_ani {
    /* overflow: hidden; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    top: -100px; }
    #content .circle_ani svg {
      height: 400px;
      width: 400px; }
      #content .circle_ani svg:nth-child(2) {
        transform: scaleX(-1) translateX(50%) translateY(-50%);
        /* point */
        position: absolute;
        top: 50%;
        left: 49%; }
      #content .circle_ani svg circle {
        fill: none;
        stroke: #ffffff;
        stroke-width: 0.3px;
        animation: load 1s linear alternate forwards; }
      #content .circle_ani svg .outer {
        stroke-dasharray: 505;
        stroke-dashoffset: 505; }
      #content .circle_ani svg .inner {
        stroke-dasharray: 475;
        stroke-dashoffset: 475;
        animation-delay: 1s; }

/* section project modal */
#content .row {
  max-width: 1200px;
  height: auto;
  margin: 50px auto; }
#content .hero-circles {
  position: relative;
  max-width: 1400px;
  margin: 0 auto 35px;
  overflow: hidden; }
  #content .hero-circles ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #content .hero-circles li {
    position: relative;
    width: 33.33333%;
    float: left;
    padding: 0 15px; }
    @media only screen and (max-width: 580px) {
      #content .hero-circles li {
        padding: 0 5px;
        margin: 0 auto 24px; } }
    #content .hero-circles li.active .border, #content .hero-circles li:hover .border {
      background-color: #5597d1;
      z-index: 2; }
    #content .hero-circles li.active .circle, #content .hero-circles li:hover .circle {
      z-index: 3; }
  #content .hero-circles .border {
    position: absolute;
    display: block;
    top: -4px;
    right: 11px;
    left: 11px;
    background-color: linear-gradient(center, #ffffff 0%, #0099cc 100%);
    border-radius: 50%;
    transition: transform 0.3s ease; }
    #content .hero-circles .border:after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%; }
    @media only screen and (max-width: 580px) {
      #content .hero-circles .border {
        display: none; } }
  #content .hero-circles .circle {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0, 0); }
    @media only screen and (max-width: 580px) {
      #content .hero-circles .circle {
        border: 4px solid yellow; }
        #content .hero-circles .circle.active {
          border-color: #f1cc52; } }
  #content .hero-circles .bg {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    @media only screen and (max-width: 580px) {
      #content .hero-circles .bg {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
  #content .hero-circles .circle-expander {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: #ededed;
    z-index: -1;
    overflow: hidden; }
    #content .hero-circles .circle-expander .bg {
      left: 0;
      top: 0;
      bottom: 0;
      right: 0; }
    #content .hero-circles .circle-expander .title-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 20px;
      padding-bottom: 60px;
      background: rgba(36, 37, 41, 0.92);
      text-align: center;
      text-transform: uppercase;
      transform: translate(0, 100%); }
      #content .hero-circles .circle-expander .title-overlay a {
        text-decoration: none;
        color: #ededed; }
      #content .hero-circles .circle-expander .title-overlay .title {
        display: block;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
        color: #f1cc52; }
        #content .hero-circles .circle-expander .title-overlay .title.closed {
          display: none; }
      #content .hero-circles .circle-expander .title-overlay .subtitle {
        font-size: 52px;
        color: #fff; }
        @media only screen and (min-width: 581px) and (max-width: 840px) {
          #content .hero-circles .circle-expander .title-overlay .subtitle {
            font-size: 30px; } }
        #content .hero-circles .circle-expander .title-overlay .subtitle span {
          color: #6e6e6e; }
    #content .hero-circles .circle-expander .close-btn {
      position: absolute;
      top: 20px;
      right: 60px;
      width: 64px;
      height: 64px;
      text-indent: -999px;
      overflow: hidden;
      background-color: rgba(36, 37, 41, 0.5);
      border-radius: 50%; }
      #content .hero-circles .circle-expander .close-btn:before, #content .hero-circles .circle-expander .close-btn:after {
        content: "";
        width: 60%;
        height: 8px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 20%;
        background-color: #fff;
        transition: all 0.3s ease; }
      #content .hero-circles .circle-expander .close-btn:before {
        transform: rotate(45deg); }
      #content .hero-circles .circle-expander .close-btn:after {
        transform: rotate(-45deg); }
      #content .hero-circles .circle-expander .close-btn:hover:before, #content .hero-circles .circle-expander .close-btn:hover:after, #content .hero-circles .circle-expander .close-btn:focus:before, #content .hero-circles .circle-expander .close-btn:focus:after {
        background-color: #bd2b1b; }
      #content .hero-circles .circle-expander .close-btn:hover:before, #content .hero-circles .circle-expander .close-btn:focus:before {
        transform: rotate(135deg); }
      #content .hero-circles .circle-expander .close-btn:hover:after, #content .hero-circles .circle-expander .close-btn:focus:after {
        transform: rotate(45deg); }
  #content .hero-circles .expander-nav a {
    position: absolute;
    bottom: 4px;
    display: block;
    width: 160px;
    height: 160px;
    padding-top: 100px;
    border-radius: 50%;
    font-size: 26px;
    font-family: 'effra', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-size: cover;
    transform: translate(-160px, 0);
    overflow: hidden; }
    #content .hero-circles .expander-nav a:hover {
      text-decoration: none; }
      #content .hero-circles .expander-nav a:hover:after {
        opacity: 0.3; }
    #content .hero-circles .expander-nav a:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #3b3b3b;
      opacity: 0.6;
      z-index: -1;
      transition: opacity 0.3s ease; }
    @media only screen and (min-width: 581px) and (max-width: 840px) {
      #content .hero-circles .expander-nav a {
        width: 100px;
        height: 100px;
        padding-top: 42px;
        font-size: 16px; } }
  #content .hero-circles .expander-nav .create {
    background-image: url(../images/contents/project_01_sub.png); }
  #content .hero-circles .expander-nav .evolve {
    background-image: url(../images/contents/project_01_sub.png); }
  #content .hero-circles .expander-nav .discover {
    background-image: url(../images/contents/project_01_sub.png); }
  #content .hero-circles .tagline {
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 178px;
    color: #242529;
    margin: 30px 0 0; }
    @media only screen and (max-width: 840px) {
      #content .hero-circles .tagline {
        font-size: 36px;
        margin: 0; } }
    @media only screen and (max-width: 580px) {
      #content .hero-circles .tagline {
        font-size: 24px;
        line-height: 80px;
        margin: 0; } }
    #content .hero-circles .tagline a {
      color: #ededed;
      text-shadow: 2px 2px 4px #000000;
      text-decoration: none; }
      #content .hero-circles .tagline a:hover {
        color: #5597d1;
        text-decoration: none; }
    #content .hero-circles .tagline .open {
      display: none; }
    #content .hero-circles .tagline .subtitle {
      display: none; }
    #content .hero-circles .tagline:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      font-size: 4em;
      font-weight: normal;
      font-style: normal;
      color: rgba(223, 223, 223, 0.3); }
      @media only screen and (max-width: 580px) {
        #content .hero-circles .tagline:before {
          font-size: 2.5em; } }
    #content .hero-circles .tagline.first:before {
      content: "1"; }
    #content .hero-circles .tagline.second:before {
      content: "2"; }
    #content .hero-circles .tagline.third:before {
      content: "3"; }
    #content .hero-circles .tagline .title {
      position: relative;
      z-index: 1; }
  @media only screen and (max-width: 580px) {
    #content .hero-circles .mobile-slider {
      display: block;
      position: relative;
      padding-bottom: 70%;
      margin-bottom: 12px;
      background-size: cover;
      background-position: center center; }
      #content .hero-circles .mobile-slider div {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px;
        background: rgba(36, 37, 41, 0.92);
        text-align: center;
        text-transform: uppercase;
        font-family: 'effra', sans-serif; }
      #content .hero-circles .mobile-slider a {
        text-decoration: none; }
      #content .hero-circles .mobile-slider .title {
        display: block;
        font-size: 18px;
        color: #f1cc52;
        font-weight: bold; }
        #content .hero-circles .mobile-slider .title.closed {
          display: none; }
      #content .hero-circles .mobile-slider .subtitle {
        font-size: 24px;
        color: #fff; } }
#content .hero-subtitle {
  font-size: 34px; }
  @media only screen and (max-width: 840px) {
    #content .hero-subtitle {
      font-size: 18px; } }

#footer {
  background: #3b3b3b;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 40px 0; }
  #footer .btn_top {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    background: #000;
    width: 50px;
    height: 50px; }
    #footer .btn_top:hover, #footer .btn_top:focus {
      color: #5597d1; }
  #footer address {
    padding: 30px 0 10px; }
    #footer address span:after {
      content: "/";
      display: inline-block;
      margin: 0 10px; }
    #footer address span:last-child:after {
      display: none; }
  #footer p {
    font-size: 13px;
    color: #9d9d93; }
    #footer p + p {
      margin: 8px 0 10px; }
  #footer .counter {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    background: #5597d1; }

@media all and (max-width: 1760px) {
  #header .wide {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px; }
    #header .wide:before {
      left: 50px;
      right: 50px; }
  #header .logo {
    left: 50px; }

  #gnb {
    left: 50px;
    right: 50px;
    margin-left: 100px; } }
@media all and (max-width: 1260px) {
  .area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px; }

  #header {
    overflow: visible; }
    #header:before {
      display: none; }
    #header .btn_all {
      display: block;
      top: 45px;
      right: 50px;
      width: 45px;
      height: 32px;
      z-index: 990; }
      #header .btn_all .line {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff; }
        #header .btn_all .line.top {
          top: 0; }
        #header .btn_all .line.mid {
          top: 15px; }
        #header .btn_all .line.btm {
          top: 30px; }
      #header .btn_all.on .top, #header .btn_all.on .btm {
        top: 15px;
        background: #666; }
      #header .btn_all.on .top {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg); }
      #header .btn_all.on .btm {
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg); }
      #header .btn_all.on .mid {
        opacity: 0; }
    #header.scroll .btn_all .line {
      background: #666; }

  #gnb, #gnb > ul > li > a:before {
    display: none; }

  /* #gnb 내부의 a가 보여지지 않는 경우 포커스가 가면 접근성 위배 */
  #gnb {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    /* 모바일 에서는 제거 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed !important;
    left: 100%;
    right: 0;
    text-align: left;
    color: #666;
    background: #fff;
    z-index: 970;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    min-width: 280px;
    padding: 130px 50px 10px;
    margin-left: 0; }
    #gnb > ul {
      display: block; }
      #gnb > ul > li {
        float: none;
        border-bottom: 1px solid #e2e2e2; }
        #gnb > ul > li > a {
          height: 50px;
          line-height: 50px;
          padding: 0 0 0 20px; }

  #header #dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 960; }

  #snb .area {
    padding: 0; } }
@media all and (max-width: 960px) {
  #footer {
    line-height: 1.5; }
    #footer address span {
      display: block; }

  .talent li {
    float: none;
    width: 100%; } }
@media all and (max-width: 760px) {
  body {
    font-size: 14px; }

  .area {
    padding-left: 15px;
    padding-right: 15px; }

  #header {
    height: 60px; }
    #header .wide {
      padding-left: 15px;
      padding-right: 15px; }
      #header .wide:before {
        top: 59px;
        left: -15px;
        right: -15px; }
    #header .logo {
      top: 10px;
      left: 15px; }
      #header .logo a {
        -webkit-background-size: auto 32px !important;
        -moz-background-size: auto 32px !important;
        -o-background-size: auto 32px !important;
        background-size: auto 32px !important;
        height: 40px; }
    #header .btn_all {
      top: 20px;
      right: 15px;
      width: 30px;
      height: 21px; }
      #header .btn_all .line.mid {
        top: 10px; }
      #header .btn_all .line.btm {
        top: 20px; }
      #header .btn_all.on .top, #header .btn_all.on .btm {
        top: 10px; }

  #gnb {
    padding: 60px 20px 10px; }

  .top_visual {
    height: 250px; }
    .top_visual .txt {
      top: 55%; }
      .top_visual .txt .location {
        margin-bottom: 10px; }
      .top_visual .txt h2 {
        font-size: 2.2rem; } }
@media all and (max-width: 640px) {
  /* calc 함수에 괄호가 연달아 있는 경우 공백 중요함 */
  #snb .area .dep {
    width: calc( (100% - 55px) / 2); } }
@media all and (max-width: 480px) {
  body {
    font-size: 12px; }

  .top_visual .txt .location {
    font-size: 1.125rem; }
  .top_visual .txt h2 {
    font-size: 2.4rem; }

  /* sub 인재채용 : 인재상 */ }
@keyframes animate {
  0% {
    background-position: -100%;
    background-size: 0%; }
  100% {
    background-position: 10%;
    background-size: 100%; } }
@keyframes Underline1 {
  0% {
    width: 0; }
  100% {
    width: 200px; } }
@keyframes load {
  100% {
    stroke-dashoffset: 350; } }

/*# sourceMappingURL=style.css.map */
