$mblue : #5597d1;
$sblue : #2f60cc;
$lgray : #f5f5f5;

$black: #242529;
$dark-black: #1c1c1e;
$grey: #b2b2b2;
$dark-grey: #5e5e5e;
$green: #acca41;
$light-grey: #ededed;
$red: #ff6c5c;
$dark-teal: #1a7a6c;
